@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-scroll {
    animation: scroll 40s linear infinite;
  }

  .animate-scroll-fast {
    animation: scroll 8s linear infinite; /* Velocità aumentata a 8 secondi */
  }

  @media (max-width: 768px) {
    .animate-scroll {
      animation-duration: 30s;
    }
    
    .animate-scroll-fast {
      animation-duration: 6s; /* Velocità aumentata a 6 secondi su mobile */
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
